<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset="uft-8"/>
    <title>Segundo ejercicio </title>
    <link href="css/style.css" rel="
    stylesheet" type="text/css">
  </head>
  <body>
    <img src="img/logo.png"  width="120" height="105" alt="TDEA Virtual"/>
  	<h1>Bienvenidos</h1>
  	<p>
  		Sistemas de matriculas TDEA virtual
  	</p>