{{>header}}
  	<br>
  	<br>
  	<br>
  	<label>Seleccione el curso a cerrar</label>
  	<br>
  	<br>
	<br>
	<form action="/actualizado" method="post">
  		<div>	
  			{{{selectCursosDispo}}}
  		</div>
  		<div>
  				<button >Cerrar</button>
  		</div>
  	</form>
  	<br>
  	<br>
  	<br>
  	<br>
  </body>

{{>footer}}