<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset="uft-8"/>
    <title>Segundo ejercicio </title>
    <link href="css/style.css" rel="
    stylesheet" >
  </head>
  <body>
     <h1>Bienvenidos</h1>
      <p>
        Sistemas de matriculas TDEA virtual
      </p>
      <br>
      <br>
      <br>
      <form action="/login" method="post">
          <div class="form-group">
            <input type="number"   name="documento" placeholder="documento" required><br>   
              <input type="password"  name="password" placeholder="Contraseña" required><br>       
             <br>
             <button>Iniciar sesion</button>
             <br>
             <a href="/registrarUsuario">Registrate</a>
         </div>
         <br>
         <br>
      </form>
      {{>footer}} 

