<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset="uft-8"/>
    <title>Segundo ejercicio </title>
    <link href="css/style.css" rel="
    stylesheet" >
  </head>
  <body>
  	<h1>Bienvenidos</h1>
  	<p>
  		Sistemas de matriculas TDEA virtual
  	</p>
    <br>
    <br>
    <br>
  	<button onclick="location.href='/coordinador'" >Crear curso</button>
  	<button onclick="location.href='/aspirante'">Matricular</button>
  	<button onclick="location.href='/interesado'">Ver cursos</button>
  	<button onclick="location.href='/matriculados'">Ver matriculados</button>
   {{>footer}}

