<!doctype html>
<html lang = 'en'>
  <head>
    <meta charset="uft-8"/>
    <title>Segundo ejercicio </title>
    <link href="css/style.css" rel="
    stylesheet" >
  </head>
  <body>
  	<h1>Bienvenidos</h1>
  	<p>
  		Sistemas de matriculas TDEA virtual
  	</p>
    <br>
    <br>
    <button onclick="location.href='/actualizar'" >Cerrar curso</button>
    <button >Eliminar interesado</button>
    <button onclick="location.href='/interesado'">Cursos disponibles</button>
   <br>
   <h3>Matriculados</h3>
   {{{listarMatriculados}}}
   {{>footer}}