{{>header}}
  <body>
  	<h1>Registrate</h1>
  	<form action="/registrado" method="post" enctype="multipart/form-data">
  		<div>
        <br>
  			<input type="number" name="documento" placeholder="Número documento" required >
  		</div>
  		<div>
  			<br>
        <input type="text" name="nombre" placeholder="Nombre completo" required>
  		</div>
  		<div>
        <br>
  			<input type="email" name="correo" placeholder="Correo" required>
  		</div>
  		<div>
        <br>
  			<input type="text" name="telefono" placeholder="Teléfono" required>
  		</div>
      <div>
        <br>
        <input type="password" name="contrasena" placeholder="Contraseña" required>
      </div>
      <div>
        <input type="file" name="foto" required>
      </div>
       <select name="rol" >
          <option value="aspirante">Aspirante</option>
          <option value="coordinador">Coordinador</option>
          <option value="interesado">Interesado</option>
        </select>
        <div>
            <button >Registrar</button>
        </div>
  	
  	</form>
  
  	
   {{>footer}}